@import url('https://fonts.googleapis.com/css2?family=Sora:wght@800&display=swap');

/* Gerais */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #0D1117;
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0;
}

p{
    margin: 0 auto;
    max-width: 520px;
}

p,
li {
    color: #ffffff;
    font-size: 14px;
}

/* barra de navegação */

header,
.navbar {
    background-color: #0d111700;
}

/* backdrop-filter: blur(2px); */

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 60px;
}

#logo{
    transform: rotate(-15deg);
    position:relative;
    /* CÓDIGO PARA CHAMAR A ANIMAÇÃO */
    -webkit-animation: rodaroda 3s linear alternate 3;
    -moz-animation: rodaroda 3.0s linear infinite;
    -ms-animation: rodaroda 3.0s linear infinite;
    -o-animation: rodaroda 3.0s linear infinite;
    animation: rodaroda 3.0s linear infinite;
}

/* KEY FRAMES PARA FAZER OS GIROS */
@-webkit-keyframes rodaroda {
	0% { -webkit-transform:rotate(0deg); -moz-transform:rotate(0deg); -ms-transform:rotate(0deg); -o-transform:rotate(0deg); transform:rotate(0deg); }
	50% { -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); -o-transform:rotate(180deg); transform:rotate(180deg); }
	100% { -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); -ms-transform:rotate(360deg); -o-transform:rotate(360deg); transform:rotate(360deg); }
}
@-moz-keyframes rodaroda {
	0% { -webkit-transform:rotate(0deg); -moz-transform:rotate(0deg); -ms-transform:rotate(0deg); -o-transform:rotate(0deg); transform:rotate(0deg); }
	50% { -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); -o-transform:rotate(180deg); transform:rotate(180deg); }
	100% { -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); -ms-transform:rotate(360deg); -o-transform:rotate(360deg); transform:rotate(360deg); }
}
@-ms-keyframes rodaroda {
	0% { -webkit-transform:rotate(0deg); -moz-transform:rotate(0deg); -ms-transform:rotate(0deg); -o-transform:rotate(0deg); transform:rotate(0deg); }
	50% { -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); -o-transform:rotate(180deg); transform:rotate(180deg); }
	100% { -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); -ms-transform:rotate(360deg); -o-transform:rotate(360deg); transform:rotate(360deg); }
}
@-o-keyframes rodaroda {
	0% { -webkit-transform:rotate(0deg); -moz-transform:rotate(0deg); -ms-transform:rotate(0deg); -o-transform:rotate(0deg); transform:rotate(0deg); }
	50% { -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); -o-transform:rotate(180deg); transform:rotate(180deg); }
	100% { -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); -ms-transform:rotate(360deg); -o-transform:rotate(360deg); transform:rotate(360deg); }
}
@keyframes rodaroda {
	0% { -webkit-transform:rotate(0deg); -moz-transform:rotate(0deg); -ms-transform:rotate(0deg); -o-transform:rotate(0deg); transform:rotate(0deg); }
	50% { -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); -o-transform:rotate(180deg); transform:rotate(180deg); }
	100% { -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); -ms-transform:rotate(360deg); -o-transform:rotate(360deg); transform:rotate(360deg); }
}

.navbar-brand {
    background-color: #FF0000;
    border-radius: 8px;
    padding: 0;
    color: #fff;
}

.navbar-brand:hover {
    color: #fff;
}

.navbar-links a {
    color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}

.nav-item.active {
    border-bottom: 3px solid #fff;
}

/* Slider */

.container-fluid {
    padding: 0;
}

#mainSlider .carousel-inner,
#mainSlider .carousel-item {
    height: 100%;
}

#mainSlider .carousel-caption {
    top: 50%;
    margin-top: 0; /* remove a margem acima da caption */
}

#mainSlider .carousel-caption h2 {
    font-size: 50px;
    margin-bottom: 300px;
}

#mainSlider .carousel-caption p {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 100px;
    border-radius: 5px;
    background-color: #d10000;
    color: #fff;
}

.main-btn {
    font-family: Sora;
    background-color: #FF0000;
    color: #fff;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
}

.main-btn:hover {
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    border-color: #FF0000;
}

.carousel-indicators .active {
    background-color: #fff;
}

.carousel-item img {
    margin: 0 auto; /* centraliza a imagem horizontalmente */
    display: block; /* garante que a margem automática funcione corretamente */
    /* APAGAR AMANHA */
}


.line {
    background-image: url(/Assets/imgs/logo.png);
    border-right: 5px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-family: 'Sora';
    font-size: 3em;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    width: 520px;
}

.typing-animation {
    animation: blinkCursor 500ms steps(30) infinite normal, typing 5s steps(30) 1s normal;
}


.fundo-c {
    
    margin: 0 auto;
    top: 200px;
    border-radius: 10px;
}


@keyframes blinkCursor {
    from {
        border-right-color: rgb(255, 255, 255);
    }

    to {
        border-right-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 11em;
    }
}


